body {
    width: 50%;
    padding: 1em 5em;
    font-family: sans-serif;
}

fieldset.insideBorder {
    border: none;
}

fieldset.outsideBorder {
    border: thin dashed;
}

div.invalid {
    background: yellow;
}

div ul {
    list-style-type: none;
}

li ul nav {
    list-style-type: none;
}

h1 {
    font-family: Garamond, serif;
}

div.intro {
    border: solid;
}

div.alert {
    background-color: yellow;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px;
    font-weight: bold;
}
