body {
    width: 50%;
    padding: 1em 5em;
    font-family: sans-serif;
}

fieldset.insideBorder {
    border: none;
}

fieldset.outsideBorder {
    border: thin dashed;
}

div.invalid {
    background: yellow;
}

div ul {
    list-style-type: none;
}
